* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
.gameBar{
    display: flex;
    height: 5vh;
    align-items: center;
}
.gameBar:first-child{
    margin-left: 5vw;
}
.gameBar button{
    padding: .5vh 2vw;
}