* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    /* zmienne: */
    --color1: #bb2205;
    --color2: #ebcfc4;
    --color3: #f05454;
    --color4: #f5b461;


}
.form {
    background-color: var(--color1);
    color: var(--color2);
    height: 5vh;
    text-align: center;
    line-height: 5vh;
}
.weather {
    background-color: var(--color2);
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.cities {
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    margin: .5vh;
    padding: 1VH;
    border: 2px solid black;
    border-radius: 10px;
}
.cities div{
    text-align: center;
    width: 100%;
}
.cities div:nth-child(4){
    border-bottom: 2px solid black;
}
.cities div:nth-child(1){
    font-weight: 800;
    color: var(--color3);
}
.cities img{
    margin: 0 auto; 
    width: 10vh;
    height: 10vh;
}

